.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.RDataTmp 
.RDataTmp1

/.quarto/
data/
Take-home_Ex01_cache/
Take-home_Ex02_cache/
Take-home_Ex03_cache/
/Test
_site/Test/
Take-home_Ex/Take-home_Ex02/takehome2.zip